@charset "utf-8";
#tnb
{
	background: url(../images/bg_tnb.png) repeat-x 0 0;
	clear: both;
	float: left;
	height: 51px;
	margin: 0;
	width: 100%;
}
#tnb .logo
{
	float: left;
}
#tnb ul
{
	float: left;
	margin: 0;
	margin-top: 18px;
	padding: 0;
	z-index: 490;
}
#tnb li
{
	list-style: none;
}
#tnb .search
{
	float: left;
	margin: 18px 0 0 10px;
	width: 235px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#tnb .search
	{
		margin: 15px 0 0 10px;
	}
}
#tnb .search input[type=text]
{
	background: url(../images/input_search.png) no-repeat 0 0;
	border: none;
	float: left;
	font-size: 11px;
	outline: none;
	padding: 3px 0 3px 25px;
	width: 215px;
}
#tnb .search input[type=submit]
{
	background: none;
	border: 0;
	cursor: pointer;
	float: right;
	margin-top: -19px;
	width: 36px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#tnb .search input[type=submit]
	{
		margin-top: -21px;
	}
}
.evoracer
{
	float: right;
	margin-top: 17px;
}
.tomcruise
{
	float: right;
	margin-top: 18px;
}
#nav li a
{
	color: #282828;
	display: block;
	float: left;
	height: 40px;
	text-decoration: none;
}
#nav li:hover a,
#nav li a:hover
{
	color: #282828;
}
#nav ul
{
	display: none;
}
#nav li:hover ul
{
	display: block;
}
#nav ul
{
	float: none;
	left: 0;
	list-style: none;
	margin-top: 4px;
	padding: 0;
	position: absolute;
	top: 1.8em;
}
#nav ul li
{
	background: #282828;
	clear: none;
	color: #fff;
	float: none;
	margin: 0;
	padding: 0;
	width: 250px;
}
#nav ul li a
{
	line-height: 35px;
	width: 35px;
}
#nav ul li.box
{
	background-color: #282828;
	clear: none;
	color: #fff;
	float: none;
	height: 100%;
	margin-top: 0;
	padding: 0;
	width: 980px;
}
#nav li:hover ul li a,
#nav ul li a
{
	background: #333;
	color: #fff;
	display: block;
	float: none;
	line-height: 20px;
	padding: 0 6px 0 0;
	text-transform: lowercase;
}
#nav li:hover ul li a:hover,
#nav ul li a:hover
{
	color: #000;
}
.nav_menu
{
	clear: both;
	font-size: 11px;
	padding: 10px;
	text-align: center;
}
.nav_menu .product_category
{
	border-right: solid 1px #727171;
	padding: 25px 0;
	text-align: center;
	width: 274px;
}
.nav_menu .product_category h1
{
	font-size: 22px;
	font-weight: bold;
}
.nav_menu .content
{
	margin-bottom: 25px;
	margin-top: 25px;
	padding-left: 35px;
	text-align: left;
	width: 630px;
}
.nav_menu .content h1
{
	color: #ffdd75;
	font-size: 15px;
}
.nav_menu .yellow
{
	color: #ffdd75;
}
#navcar
{
	height: 150px;
	text-align: center;
	width: 955px;
}
#navcar .car ul
{
	display: inline;
	margin: 0;
	padding: 0;
}
#navcar .car li
{
	display: block;
	float: left;
	height: 150px;
	position: relative;
	width: 191px;
}
#navcar select[name=select]
{
	background: url(images/drop_field.jpg) no-repeat;
	border: none;
	float: left;
	font-size: 11px;
	height: 20px;
	outline: none;
	padding: 0px 2px 0px 5px;
	width: 130px;
}
#nav_states
{
	background: url(../images/menu_country.png) no-repeat;
	color: #FFF;
	float: left;
	font-size: 1.2em;
	height: 40px;
	list-style: none;
	margin-top: 18px;
	padding: 0;
	position: relative;
	width: 60px;
}
#nav_states ul
{
	background: url(../images/topnavrbg.png) no-repeat top right;
	float: left;
	margin: 0;
	padding: 0;
}
#nav_states ul li
{
	height: 20px;
	margin-right: 10px;
	position: relative;
	width: 51px;
}
#nav_states ul li a
{
	display: block;
	height: 45px;
}
.submenumidbg
{
	background: url(../images/submenubg.png) repeat-y center top;
	padding: 0 0 0 0;
	position: relative;
	z-index: 999999;
}
.submenu_btm_curv
{
	background: url(../images/submenu_btm_curv.png) no-repeat;
	height: 13px;
}
#login_nav
{
	color: #9B9B9C;
	float: right;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	list-style: none;
	margin-top: 18px;
	padding: 0 0 0 38px;
	position: relative;
	width: 100px;
}
#login_nav a
{
	color: #E4A609;
}
#login_nav ul
{
	float: right;
	margin: 0;
	padding: 0;
}
#login_nav ul li
{
	height: 20px;
	position: relative;
	width: 100px;
}
#login_nav ul li a
{
	display: block;
	height: 45px;
}
#login_nav .submenumidbg
{
	background: url(../images/submenubg.png) repeat-y center top;
	min-height: 240px;
	padding: 0 0 0 0;
	position: relative;
	z-index: 999999;
}
#login_nav .submenumidbg a
{
	color: #9B9B9C;
}
#login_nav .submenumidbg .scroller a
{
	color: #FFF !important;
}
#login_nav .submenumidbg a:hover
{
	color: #EFC66C;
}
#login_nav .submenumidbg .scroller a:hover
{
	color: #EFC66C !important;
}
#login_nav .submenumidbg ul.userOptions
{
	background: none;
	display: block !important;
	float: left;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 213px;
}
#login_nav .submenumidbg ul.userOptions li
{
	margin: 0;
	padding: 0 0 0 30px;
	width: 183px;
}
#login_nav .submenumidbg ul.userOptions li:hover
{
	background-color: #847150;
}
#login_nav .submenumidbg ul li:hover
{
	background-color: #847150;
}
#login_nav .submenumidbg ul.scroller li:hover
{
	background-color: #847150 !important;
}
#login_nav .submenumidbg li.lock a:hover
{
	color: #000;
}
#login_nav .submenumidbg li.lock:hover
{
	background: url(../images/navlock.png) no-repeat 180px center #847150;
	color: #000;
}
#login_nav .submenu_btm_curv
{
	background: url(../images/submenu_btm_curv.png) no-repeat;
	height: 13px;
}
#login_nav .submenumidbg .sepLog
{
	border: 1px solid #3B3B39;
	clear: both;
	margin: auto;
	position: relative;
	width: 150px;
}
#login_nav ul.menu_wrapper .sepLog
{
	border: 1px solid #3B3B39;
	clear: both;
	margin: auto;
	position: relative;
	width: 150px;
}
#login_nav ul li ul.menu_wrapper
{
	background: url(../images/login.png) no-repeat top right;
	border: none;
	display: none;
	left: -115px;
	padding-top: 23px;
	position: absolute;
	top: 30px;
	width: 213px;
	z-index: 9999;
}
#login_nav ul li ul.menu_wrapper ul
{
	float: none;
	margin-left: 10px;
}
#login_nav ul li:hover ul
{
	display: block;
}
#loginbox
{
	background: url(../images/submenubg.png) repeat-y center top;
	height: 100%;
	padding: 0 0 0 0;
	position: relative;
	z-index: 999999;
}
#nav li.one ul
{
	background: url(../images/submenubg-top.png) no-repeat left top;
	border: none;
	display: none;
	left: -14px;
	list-style-type: none;
	padding-top: 23px;
	position: absolute;
	top: 24px;
	width: 213px;
	z-index: 9999;
}
#nav li.one:hover ul
{
	display: block;
}
#nav li.one .txt
{
	color: #a5a5a7;
	font-size: 11px;
	padding-bottom: 8px;
	padding-left: 17px;
	padding-top: 10px;
}
#nav li.one ul li a
{
	height: auto !important;
	line-height: 26px;
	padding-left: 17px;
}
#nav li.one ul li a .img
{
	display: block;
	float: left;
	margin-right: 6px;
	padding-top: 3px;
}
#nav li.one ul li a span
{
	color: #EFC66C;
	cursor: pointer;
	float: left;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	text-transform: none;
}
#nav li.one ul li a:hover span, #nav li.one ul li#current a span
{
	color: #EFC66C;
}
#nav li.one ul li:hover
{
	background-color: #847150;
	border: none;
	color: #000;
	float: none;
	line-height: normal;
	width: 213px;
}
#nav li.one ul li.lock a span
{
	color: #a5a5a7;
	cursor: pointer;
	float: left;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	text-transform: none;
}
#nav li.one ul li.lock a:hover span
{
	color: #000;
}
#nav li.one ul li.lock:hover
{
	background: url(../images/navlock.png) no-repeat 180px center #847150;
	border: none;
	color: #000;
	float: none;
	line-height: normal;
	width: 213px;
}
#nav li.one ul li
{
	border: none;
	clear: both;
	height: 26px;
	line-height: normal;
	margin: 0;
	padding: 0;
	width: 213px;
}
#tnb li:first-child
{
	background: none;
	padding: 0;
}
#nav li
{
	background: url(../images/menu_separator.png) no-repeat top left;
	float: left;
	height: 21px;
	padding: 0 0 0 2px;
	position: relative;
}
#nav
{
	color: #FFF;
	float: left;
	font-size: 1.2em;
	height: 40px;
	margin-top: 15px;
	padding: 0;
	position: relative;
}
.innerbox img
{
	float: left;
}
#tnb .search
{
	float: left;
	margin: 18px 0 0 10px;
	width: 235px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#tnb .search
	{
		margin: 15px 0 0 10px;
	}
}
#tnb .search input[type=text]
{
	background: url(../images/input_search.png) no-repeat 0 0;
	border: none;
	float: left;
	font-size: 11px;
	outline: none;
	padding: 3px 0 3px 25px;
	width: 215px;
}
#tnb .search input[type=submit]
{
	background: none;
	border: 0;
	cursor: pointer;
	float: right;
	margin-top: -19px;
	width: 36px;
}
#tnb .form-item-search-block-form
{
	float: left;
	margin-top: 15px;
}
#tnb #block-search-form input[type=text]
{
	background: url(../images/input_search.png) no-repeat 0 0;
	border: none;
	float: left;
	font-size: 11px;
	outline: none;
	padding: 3px 0 3px 25px;
	width: 215px;
}
#tnb #block-search-form input[type=submit]
{
	background: none;
	border: 0;
	cursor: pointer;
	float: left;
	margin: 18px 0 0 -41px;
	text-indent: -9999px;
	width: 36px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#tnb .search input[type=submit]
	{
		margin-top: -21px;
	}
	#tnb #block-search-form input[type=submit]
	{
		margin: 18px 0 0 -41px;
	}
}
.rollCarMakes
{
	margin: auto;
	width: 630px;
}
.rollCarMakes a
{
	background: none !important;
	float: left !important;
	height: 42px !important;
	padding: 10px 0 0 !important;
	text-align: center;
	width: 63px !important;
}
.rollCarMakes a:hover
{
	background: url(../images/logo-cm_h.png) no-repeat 0 50% !important;
}
.rollActTools
{
	float: left;
	width: 630px;
}
.rollActTools a
{
	background: none !important;
	float: left !important;
	height: 112px !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	width: auto !important;
}
.rollModStyles a
{
	background: none !important;
	height: 20px !important;
	line-height: normal !important;
	margin: 0 !important;
	padding: 5px 0 0 7px !important;
	text-transform: none !important;
	width: auto !important;
}
.rollModStyles a:hover
{
	background-color: #847150 !important;
	color: #f0c86c !important;
}
#overlay #tnb
{
	display: none !important;
}
#login_nav ul.menu_wrapper
{
	background: url(../images/submenubg.png) repeat-y center top;
	padding: 0 0 0 0;
	position: relative;
	z-index: 999999;
}
#login_nav ul.menu_wrapper a
{
	color: #9B9B9C;
	line-height: 20px;
}
#login_nav ul.menu_wrapper .scroller a
{
	color: #FFF !important;
}
#login_nav ul.menu_wrapper a:hover
{
	color: #EFC66C;
}
#login_nav ul.menu_wrapper .scroller a:hover
{
	color: #EFC66C !important;
}
#login_nav ul.menu_wrapper ul.userOptions
{
	background: none;
	display: block !important;
	float: left;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}
#login_nav ul.menu_wrapper ul.userOptions li
{
	margin: 0;
	padding: 0 0 0 10px;
	width: 175px;
}
#login_nav ul.menu_wrapper ul.userOptions li:hover
{
	background-color: #847150;
}
#login_nav ul.menu_wrapper ul li:hover
{
	background-color: #847150;
}
#login_nav ul.menu_wrapper ul.scroller li:hover
{
	background-color: #847150 !important;
}
#login_nav ul.menu_wrapper li.lock a:hover
{
	color: #000;
}
#login_nav ul.menu_wrapper li.lock:hover
{
	background: url(../images/navlock.png) no-repeat 98% center #847150;
	color: #000;
}
.user_nav_title_wrapper
{
	background: url("../images/logomini.png") no-repeat scroll left top transparent;
	display: block;
	pading-left: 20px;
	text-align: right;
}
#login_nav ul.menu_wrapper .vert .simply-scroll-clip
{
	height: auto;
	max-height: 100px;
	width: 100%;
}
#login_nav ul.menu_wrapper .simply-scroll-btn
{
	background-image: url("../images/buttons.png");
	cursor: pointer;
	height: 16px;
	position: absolute;
	width: 15px;
	z-index: 3;
}
#login_nav ul.menu_wrapper .vert
{
	height: auto;
	max-height: 100px;
	width: 100%;
}
